@model IEnumerable<ASP_Projet.Models.Liste_noire>

@{
    ViewBag.Title = "ListeNoire";
}
<div style=" margin-left: auto; width: 90%; margin-right: auto;">
    <div class="header" style=" display: flex; justify-content: space-between; align-items: center; ">
        <h2 style="font-weight: bold; color: rgba(144,12,63,1)">Liste Noire</h2>
        @using (Html.BeginForm("Favoris", "Admin", FormMethod.Get))
        {
            @Html.TextBox("searching", "", new { style = "border-radius: 10px;padding: 3px; " }) <input type="submit" value="Chercher" class="searchButton" />
        }
    </div>
    <table class="table myTable">
        <tr class="table-header">
            <th>
                @Html.DisplayNameFor(model => model.Proprietaire.nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietaire.telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietaire.ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietaire.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietaire.isSpecial)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proprietaire.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proprietaire.telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proprietaire.ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proprietaire.email)
        </td>
        @if (item.Proprietaire.isSpecial == true)
        {
            <td>
                Oui
            </td>

        }
        else
        {
            <td>
                Non
            </td>
        }
    <td style="width:20%">
        <a href="@Url.Action("DeleteFromNoire","Admin",new { id = item.Id })" class="btn-edit" style="display: inline; background: darkred"><span class="glyphicon glyphicon-remove"></span> Supprimer</a>
    </td>
    </tr>
        }

    </table>


</div>

