<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navegatorBar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav menu">
                    @if (Session["id_admin"] == null)
                    {
                        <li>@Html.ActionLink(ASP_Projet.Ressources.langue.Home, "Index", "Home")</li>
                        if (Session["id_proprietaire"] != null)
                        {
                            <li>@Html.ActionLink(ASP_Projet.Ressources.langue.Home, "Contact", "Proprietaire")</li>

                        }

                        <li>@Html.ActionLink(ASP_Projet.Ressources.langue.About, "About", "Home")</li>


                    }
                    else
                    {
                        <li>@Html.ActionLink("Dashboard", "Dashboard", "Admin")</li>
                        <li>@Html.ActionLink("Liste Favoris", "Favoris", "Admin")</li>
                        <li>@Html.ActionLink("Liste Noire", "ListeNoire", "Admin")</li>
                        <li>@Html.ActionLink("Catégories", "Categories", "Admin")</li>
                        <li>@Html.ActionLink("Messages", "Message", "Admin")</li>
                    }

                </ul>

                @if (Session["id_Proprietaire"] != null)
                {
                    <div class="connecter" style="display: inline-block; margin-left: 60%; margin-top: 15px;">
                        <a href="@Url.Action("Login","Connection")">
                            <span class="glyphicon glyphicon-log-out"></span> @Session["nom_Proprietaire"]
                        </a>
                    </div>

                }
                else if (Session["id_admin"] != null)
                {
                    <div class="connecter" style="display: inline-block; margin-left: 30%; margin-top: 15px;">
                        <a href="@Url.Action("Login","Connection")">
                            <span class="glyphicon glyphicon-log-out"></span>  Espace Admin
                        </a>
                    </div>

                }
                else
                {
                    <div class="connecter" style="display: inline-block; margin-left: 60%; margin-top: 15px;">
                        <a href="@Url.Action("Login","Connection")">
                            Se Connecter
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
